.profile__info-button {
    color: #fff;
    margin: auto;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    
    background: #000 url(../../../Images/EditButton.svg) center/10px 10px no-repeat;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__info-button:hover {
    cursor: pointer;
    opacity: 0.6000000238418579;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__info-button {
        margin: 12px auto -22px;
    }
}